In [55]:
import ibm_db

In [56]:
dsn_hostname = "dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net" 
dsn_uid = "ttg95042"
dsn_pwd = "m6b8zr3+0hq5x5w2"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            
dsn_port = "50000"              
dsn_protocol = "TCPIP"

In [57]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

In [58]:
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=ttg95042;PWD=m6b8zr3+0hq5x5w2;

In [77]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  ttg95042 on host:  dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net

In [60]:
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.01.0303
DB_NAME:    BLUDB

In [76]:
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           libdb2.a
DRIVER_VER:            11.01.0404
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1208
CONN_CODEPAGE:         1208

In [8]:
dropQuery = "drop table INSTRUCTOR"

In [9]:
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

In [11]:
createQuery = "create table INSTRUCTOR(id INTEGER PRIMARY KEY NOT NULL, fname varchar(20), lname varchar (20) , city varchar(20), ccode char(2) )"
createStmt= ibm_db.exec_immediate ( conn, createQuery)

In [14]:
InsertQuery ="insert into INSTRUCTOR values (1,'Rav','Ahuja', 'Toronto', 'CA')"
InsertStmt =ibm_db.exec_immediate ( conn, InsertQuery)

In [16]:
InsertQuery ="insert into INSTRUCTOR values (2,'Roul','Chong', 'Markham', 'CA')"
InsertStmt =ibm_db.exec_immediate ( conn, InsertQuery)

In [18]:
InsertQuery ="insert into INSTRUCTOR values (3,'Hima','Vasudevan', 'Chicago', 'US')"
InsertStmt =ibm_db.exec_immediate ( conn, InsertQuery)

In [78]:
selectQuery= "Select * from INSTRUCTOR"
selectStmt = ibm_db.exec_immediate (conn,selectQuery)

In [69]:
print(selectQuery)

Select * from INSTRUCTOR

In [46]:
ibm_db.fetch_row(selectStmt)

True

In [79]:
while ibm_db.fetch_row(selectStmt) != False:
   print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

 ID: 1  FNAME: Rav
 ID: 2  FNAME: Roul
 ID: 3  FNAME: Hima

In [80]:
updateQuery ="update INSTRUCTOR set city = 'MOOSETOWN' where id =1"
updateStmt = ibm_db.execute_immediate( conn,updateQuery)

AttributeError: module 'ibm_db' has no attribute 'execute_immediate'

In [82]:
updateQuery = "update INSTRUCTOR set CITY='MOOSETOWN' where FNAME='Rav'"
updateStmt = ibm_db.exec_immediate(conn, updateQuery)

In [87]:
updateQuery = "update INSTRUCTOR set CITY='Toronto' where FNAME='Rav'"
updateStmt = ibm_db.exec_immediate(conn, updateQuery)

In [88]:
updateQuery = "update INSTRUCTOR set CITY='Moosetown' where FNAME='Rav'"
updateStmt = ibm_db.exec_immediate(conn, updateQuery)

In [89]:
import pandas
import ibm_db_dbi

In [90]:
pconn = ibm_db_dbi.Connection(conn)

In [92]:
selectQuery = "select * from INSTRUCTOR"

In [93]:
pdf = pandas.read_sql(selectQuery, pconn)

In [94]:
pdf

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  Moosetown    CA
1   2  Roul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [95]:
pdf.LNAME[0]

'Ahuja'

In [97]:
pdf.LNAME[1]

'Chong'

In [98]:
pdf.LNAME[0]

'Ahuja'

In [99]:
pdf.shape

(3, 5)

In [100]:
ibm_db.close(conn)

True