<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:
1. Understand 3 Chicago datasets  
1. Load the 3 datasets into 3 tables in a Db2 database
1. Execute SQL queries to answer assignment questions

## Understand the datasets 
To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:
1. <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
1. <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
1. <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago
This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2



### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t




### 3. Chicago Crime Data 

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

This dataset is quite large - over 1.5GB in size with over 6.5 million rows. For the purposes of this assignment we will use a much smaller sample of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

### Download the datasets
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):
1. __CENSUS_DATA:__ https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv
1. __CHICAGO_PUBLIC_SCHOOLS__  https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv
1. __CHICAGO_CRIME_DATA:__ https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

__NOTE:__ Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables
To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as folows:
1. __CENSUS_DATA__
1. __CHICAGO_PUBLIC_SCHOOLS__
1. __CHICAGO_CRIME_DATA__

### Connect to the database 
Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From the __uri__ field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://ibm.box.com/shared/static/hzhkvdyinpupm2wfx49lkr71q9swbpec.jpg">

In [4]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://ttg95042:<passwordremoved>@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: ttg95042@BLUDB'

## Problems
Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table

In [14]:
%sql select count(*) from chicago_crime_data;

 * ibm_db_sa://ttg95042:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

In [ ]:
# Rows in Crime table
533

### Problem 2

##### Retrieve first 10 rows from the CRIME table

In [5]:
%sql select * FROM CHICAGO_CRIME_DATA  ORDER BY CASE_NUMBER fetch first 10 rows only;

 * ibm_db_sa://ttg95042:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(1326195, 'G021609', '1/11/2001 2:30', '087XX S ESCANABA AV', '9901', 'DOMESTIC VIOLENCE', 'DOMESTIC VIOLENCE', 'APARTMENT', 'TRUE', 'TRUE', 423, 4, None, None, '08B', 1196869, 1847416, 2001, '8/17/2015 15:03', Decimal('41.73617608'), Decimal('-87.55431961'), '(41.73617608, -87.554319607)'),
 (1340847, 'G040244', '1/19/2001 18:39', '063XX N NAGLE AV', '820', 'THEFT', '$500 AND UNDER', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 1611, 16, None, None, '6', 1132586, 1941599, 2001, '8/17/2015 15:03', Decimal('41.99598354'), Decimal('-87.78763989'), '(41.99598354, -87.787639887)'),
 (1353618, 'G056330', '1/27/2001 16:20', '078XX S SAWYER AV', '460', 'BATTERY', 'SIMPLE', 'RESIDENCE PORCH/HALLWAY', 'TRUE', 'TRUE', 835, 8, None, None, '08B', 1156032, 1852572, 2001, '8/17/2015 15:03', Decimal('41.75124194'), Decimal('-87.70379416'), '(41.751241937, -87.703794164)'),
 (1367327, 'G057394', '1/28/2001 7:10', '046XX S CICERO AV', '1513', 'PROSTITUTION', 'SOLICIT FOR BUSINESS', 'STREET', 'TRUE', 'FALSE', 814, 8, None, None, '16', 1145110, 1873073, 2001, '8/17/2015 15:03', Decimal('41.80771246'), Decimal('-87.74330304'), '(41.807712461, -87.743303038)'),
 (1363954, 'G070193', '2/3/2001 3:00', '004XX W WRIGHTWOOD AV', '460', 'BATTERY', 'SIMPLE', 'RESIDENCE', 'FALSE', 'FALSE', 2333, 19, None, None, '08B', 1172852, 1918278, 2001, '8/17/2015 15:03', Decimal('41.93119046'), Decimal('-87.64021400'), '(41.93119046, -87.640214004)'),
 (1427912, 'G122095', '3/2/2001 16:20', '039XX N ASHLAND AV', '1505', 'PROSTITUTION', 'CALL OPERATION', 'RESIDENCE', 'TRUE', 'FALSE', 1923, 19, None, None, '16', 1164982, 1926580, 2001, '8/17/2015 15:03', Decimal('41.95414251'), Decimal('-87.66889815'), '(41.954142513, -87.668898147)'),
 (1414626, 'G134016', '3/1/2001 23:00', '055XX S NOTTINGHAM AV', '1310', 'CRIMINAL DAMAGE', 'TO PROPERTY', 'RESIDENCE', 'FALSE', 'FALSE', 811, 8, None, None, '14', 1130022, 1866716, 2001, '8/17/2015 15:03', Decimal('41.79053860'), Decimal('-87.79878798'), '(41.790538595, -87.79878798)'),
 (1419496, 'G140454', '3/11/2001 16:44', '077XX S SOUTH SHORE DR', '460', 'BATTERY', 'SIMPLE', 'APARTMENT', 'FALSE', 'FALSE', 421, 4, None, None, '08B', 1197205, 1854743, 2001, '8/17/2015 15:03', Decimal('41.75627357'), Decimal('-87.55284517'), '(41.756273565, -87.552845167)'),
 (1455002, 'G158614', '3/18/2001 4:30', '059XX S GREEN ST', '261', 'CRIM SEXUAL ASSAULT', 'AGGRAVATED: HANDGUN', 'ALLEY', 'FALSE', 'FALSE', 712, 7, None, None, '2', 1171608, 1865691, 2001, '8/17/2015 15:03', Decimal('41.78691515'), Decimal('-87.64633171'), '(41.786915146, -87.646331709)'),
 (1438213, 'G161722', '3/21/2001 16:10', '011XX W WILSON AV', '1210', 'DECEPTIVE PRACTICE', 'THEFT OF LABOR/SERVICES', 'CTA PLATFORM', 'TRUE', 'FALSE', 2311, 19, None, None, '11', 1167954, 1930663, 2001, '8/17/2015 15:03', Decimal('41.96528267'), Decimal('-87.65785443'), '(41.965282666, -87.657854427)')]

### Problem 3

##### How many crimes involve an arrest?

In [6]:
%sql select count(*) from chicago_crime_data WHERE arrest='TRUE'

 * ibm_db_sa://ttg95042:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

### Problem 4

##### Which unique types of crimes have been recorded at GAS STATION locations?

None of the crime recorded at Gas Station is domestic related as defined by the Illinois Domestic Violence Act.

Hint: Which column lists types of crimes e.g. THEFT?

### Problem 5

##### In the CENUS_DATA table list all Community Areas whose names start with the letter ‘B’.

In [8]:
%sql select * from CENSUS_DATA where community_area_name like 'B%';

 * ibm_db_sa://ttg95042:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(19, 'Belmont Cragin', Decimal('10.8'), Decimal('18.7'), Decimal('14.6'), Decimal('37.3'), Decimal('37.3'), 15461, 70),
 (47, 'Burnside', Decimal('6.8'), Decimal('33.0'), Decimal('18.6'), Decimal('19.3'), Decimal('42.7'), 12515, 79),
 (58, 'Brighton Park', Decimal('14.4'), Decimal('23.6'), Decimal('13.9'), Decimal('45.1'), Decimal('39.3'), 13089, 84),
 (60, 'Bridgeport', Decimal('4.5'), Decimal('18.9'), Decimal('13.7'), Decimal('22.2'), Decimal('31.3'), 22694, 43),
 (72, 'Beverly', Decimal('0.9'), Decimal('5.1'), Decimal('8.0'), Decimal('3.7'), Decimal('40.5'), 39523, 12)]

### Problem 6

##### Which schools in Community Areas 10 to 15 are healthy school certified?

In [9]:
%sql select name_of_school \
community_area_number,healthy_school_certified  from  Chicago_Public_Schools \
where community_area_number >=10 and community_area_number <=15 \
and healthy_school_certified ='Yes';

 * ibm_db_sa://ttg95042:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School', 'Yes')]

### Problem 7

##### What is the average school Safety Score?

In [10]:
%sql select avg(SAFETY_SCORE) from Chicago_Public_Schools;

 * ibm_db_sa://ttg95042:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

### Problem 8

##### List the top 5 Community Areas by average College Enrollment [number of students]

In [11]:
%sql select community_area_number, COMMUNITY_AREA_NAME, avg(COLLEGE_ENROLLMENT) AS "AVERAGE_COLLEGE_ENROLLMENT" \
FROM Chicago_Public_Schools \
GROUP BY community_area_number, COMMUNITY_AREA_NAME \
ORDER BY "AVERAGE_COLLEGE_ENROLLMENT" DESC \
FETCH FIRST 5 ROWS ONLY;

 * ibm_db_sa://ttg95042:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(57, 'ARCHER HEIGHTS', Decimal('2411.500000')),
 (18, 'MONTCLARE', Decimal('1317.000000')),
 (62, 'WEST ELSDON', Decimal('1233.333333')),
 (58, 'BRIGHTON PARK', Decimal('1205.875000')),
 (19, 'BELMONT CRAGIN', Decimal('1198.833333'))]

### Problem 9

##### Use a sub-query to determine which Community Area has the least value for school Safety Score?

In [13]:
%sql  select community_area_number, COMMUNITY_AREA_NAME, safety_score \
from Chicago_Public_Schools \
where safety_score = (select min(safety_score) from Chicago_Public_Schools);

 * ibm_db_sa://ttg95042:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(40, 'WASHINGTON PARK', 1)]

### Problem 10

##### [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [12]:
%sql select community_area_number, community_area_name,per_capita_income \
from census_data \
where community_area_number  in \
(select community_area_number from Chicago_Public_Schools where safety_score = 1);

 * ibm_db_sa://ttg95042:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(40, 'Washington Park', 13785)]

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).